@page "/contributtions"
@using NudelnDudeln.Models Models
@using System.Collections.Generic;
@using System.Linq;
@inject NudelnDudeln.Data.AppDbContext AppDbContext

<h3>Contributions</h3>


@code {

}
